%% 脚本所在目录
{src_dir, "../../script/"}.

%% 输出脚本模块目录
{dst_dir, "../gx_conf/src/"}.
{ebin_dir, "../gx_conf/ebin/"}.
{csharp_dir, "D:/UcWeb/NewSVN/Client/NewGame/Assets/Scripts/Network/Proxy/ScriptAPI/"}.

%%Erlang代码生成配置
{erlang_work_module, elici_translate_erlang}.
{erlang_mod_name, gx_conf_script}. %% 输出脚本模块名称
{erlang_template, "./template/elici_template.erl"}.
{erlang_api_dir, "D:/UcWeb/NewSVN/ServDev/apps/gx/ebin/"}.

%%CSharp代码生成配置
{csharp_work_module, elici_translate_csharp}.
{csharp_template, "./template/elici_template.cs"}.
{csharp_class_name, 'ServerScript'}.
{csharp_api, [{gx_script_skill, "ServerScriptSkill.Instance", [{get_skill_id, 1},
                                                               {can_apply_skill, 1}]},
              {gx_script_effect, "ServerScriptEffect.Instance", [{notify_obj_effect, 1},
                                                                 {get_effect_id, 1}]},
              {gx_script_scene, "ServerScriptScene.Instance", [{get_current_pos, 1},
                                                      {make_box, 3}]},
              {gx_script_fightattr, "ServerScriptFightAttr.Instance", []},
              {gx_script_scene_find, "ServerScriptSceneFind.Instance", [{find_target, 1}]},
              {gx_script_common, "ServerScriptCommon.Instance", [{wait}]},
              {gx_script_battle, "ServerScriptBattle.Instance", [{attack_target, 2}]},
              {gx_script_object, "ServerScriptObject.Instance", []},
              {gx_script_buff, "ServerScriptBuff.Instance", []},
              {gx_script_random, "ServerScriptRandom.Instance", []},
              {gx_script_ai, "ServerScriptAI.Instance", []},
              {gx_script_copy, "ServerScriptCopy.Instance", []},
              {gx_script_currency, "ServerScriptCurrency.Instance", []},
              {gx_script_util, "ServerScriptUtil.Instance", []},
              {gx_script_type, "ServerScriptType.Instance", []},
              {erlang, "ServerScriptCore.Instance", []}
]}.


%%文档生成目录
{doc, [
	{dir, "./doc/script_api/"},
	{title, "API"}
]} .